  .card {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 250px;
    /* min-width: 400px !important;
    max-width: 500px !important; */
    margin: 10px 20px;
    padding: 3px;
    background-color: #ECF0F1 !important;
    border: 2px solid #e7af2e !important;
  }
.card:hover{
  background-color: #4D2A5A i !important;
  color: #E6AF2E !important;
}
/* CardImage {
  width: 1rem;
} */

.card img {
  /* width: 20rem !important; */
  width: 100%;
}
  
.button,
.button:hover,
.button:link,
.button:visited,
.button:active {
  text-decoration: none;
  color: white;
}

  
.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .shop {
    flex-flow: column;
  }

  .card {
    width: 90%;
  }
}

.newBtn:hover{
  color: #E6AF2E !important;
  background-color: #416032 !important;
}
.newCard:hover {
  background-color: #E6AF2E !important;
  color: #4D2A5A !important;
}
.newCard:hover p{
  background-color: #E6AF2E !important;
  color: #4D2A5A !important;
}